Options -Indexes

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

ErrorDocument 403 "<meta http-equiv='refresh' content='0; url=https://www.meg.com.hk/tc/index.html'/>"
ErrorDocument 404 "<meta http-equiv='refresh' content='0; url=https://www.meg.com.hk/tc/index.html'/>"

